<a href="https://colab.research.google.com/github/riazahmedsg/pced/blob/main/Sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# Sample data in a dictionary
data = {'customer_id': [1, 2, 3, 4, 5],
        'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'age': [25, 30, 28, 35, 22],
        'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}

# Create a pandas DataFrame
df = pd.DataFrame(data)

In [3]:
df

   customer_id     name  age         city
0            1    Alice   25     New York
1            2      Bob   30  Los Angeles
2            3  Charlie   28      Chicago
3            4    David   35      Houston
4            5    Emily   22      Phoenix

In [4]:
# Access data by column name
names = df['name']
print(names)

0      Alice
1        Bob
2    Charlie
3      David
4      Emily
Name: name, dtype: object

In [5]:
# Filter data based on a condition
young_customers = df[df['age'] < 30]
print(young_customers)

   customer_id     name  age      city
0            1    Alice   25  New York
2            3  Charlie   28   Chicago
4            5    Emily   22   Phoenix

In [6]:
# Calculate average age
average_age = df['age'].mean()
print(f"Average age: {average_age}")

Average age: 28.0

In [1]:
import pandas as pd

# Sample data
data = {'age': [25, 30, 150, 28, 35],
        'income': [50000, 60000, 70000, -1000, 90000]}
df = pd.DataFrame(data)

# Get summary statistics
print(df.describe())

              age        income
count    5.000000      5.000000
mean    53.600000  53800.000000
std     54.012036  34017.642482
min     25.000000  -1000.000000
25%     28.000000  50000.000000
50%     30.000000  60000.000000
75%     35.000000  70000.000000
max    150.000000  90000.000000

In [2]:
import pandas as pd

# Sample data with missing values
data = {'age': [25, 30, None, 28, 35],
        'income': [50000, 60000, 70000, None, 80000]}
df = pd.DataFrame(data)

# Fill missing 'age' values with the mean
df['age'] = df['age'].fillna(df['age'].mean())

# Fill missing 'income' values with the median
df['income'] = df['income'].fillna(df['income'].median())

print(df)

    age   income
0  25.0  50000.0
1  30.0  60000.0
2  29.5  70000.0
3  28.0  65000.0
4  35.0  80000.0

In [3]:
import pandas as pd

# Sample data with duplicates
data = {'name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
        'age': [25, 30, 28, 25, 30]}
df = pd.DataFrame(data)
print(df)

      name  age
0    Alice   25
1      Bob   30
2  Charlie   28
3    Alice   25
4      Bob   30

In [4]:
# Remove duplicate rows
df = df.drop_duplicates()

print(df)

      name  age
0    Alice   25
1      Bob   30
2  Charlie   28

In [1]:
import pandas as pd

data = {'age': [25, 30, 40, 28, 35, 50]}
df = pd.DataFrame(data)

# Equal width binning with 3 bins
df['age_group'] = pd.cut(df['age'], bins=3, labels=['young', 'middle-aged', 'senior'])

# Equal frequency binning with 3 bins
df['age_group_freq'] = pd.qcut(df['age'], q=3, labels=['young', 'middle-aged', 'senior'])

print(df)

   age    age_group age_group_freq
0   25        young          young
1   30        young    middle-aged
2   40  middle-aged         senior
3   28        young          young
4   35  middle-aged    middle-aged
5   50       senior         senior